@{
    ViewData["Title"] = "Sign Out";
    var url = ViewBag.ReturnUrl;
}

<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to sign out?</h3>
        <form a method="post" asp-action="SignOut">
            <button type="submit" class="btn btn-lg btn-danger">Yes</button>
            <a asp-action="Cancel" asp-route-returnUrl="@url" class="btn btn-lg btn-warning">Cancel</a>
        </form>
    </div>
</div>